@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

$font: 'Alegreya Sans SC', 'Noto Serif TC', serif;
$background-color: rgb(255, 255, 255);
$accent-color: rgb(250, 214, 13);
$accent2-color: rgb(22, 83, 80);

// Table
$table-width: 800px;
$table-height: 80vh;
$table-color: rgb(43, 121, 95);

// Hand
$hand-width: 90%;

// Tiles
$t-width: 3.5vw;
$t-max-width: 35px;
$t-height: 58px;

// Discard
$d-width: $t-width * 6;
$d-max-width: $t-max-width * 6;


ul{
  padding-left: 0;
  list-style-type: none;
}

// Mixins
@mixin center-in-parent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fill-parent{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}